nav {
  background: linear-gradient(to right, #1e3799, #440606) !important;
  a {
    color: #fff !important;
    font-size: 23px;
  }
  .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    outline: none;
  }
}
